body{
    background: url("../img/headspace-declutter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-title{
    text-align:center;
    font-size: 100px;
    color:white;
    margin:auto;
}

#first-line{
    text-align: center;
    font-size: 30px;
    color:black;
    opacity:0.5;
    background-color: white; 
    width:40%;
    margin: auto;
}

.checklist{
     text-align: center;
     display: inline;
    /* float:right; */
    margin:auto;
    font-size:25px;
    /* backgroud of checklist changes color as it is clicked
    add an onlclick function  */
    color:white;
}
